	{% if page.layout == 'amp' %}
		<p>どうしてこうなるんだろう…</p>
	{% else %}
		<script type='text/javascript'>
			fortune = new Array(9);
			fortune[0] = '人生得意须尽欢，莫使金樽空对月。';
			fortune[1] = '清风无闲时，潇洒终日夕。';
			fortune[2] = '今夜月明人尽望，不知秋思落谁家。';
			fortune[3] = '直道相思了无益，未妨惆怅是清狂。';
			fortune[4] = '直道相思了无益，未妨惆怅是清狂。';
			fortune[5] = '八百里分为麾下炙，五十弦翻赛外声。';
			fortune[6] = '征衣风尘化云烟，江湖落拓不知年。';
			fortune[7] = '有约不来过夜半，闲敲棋子落灯花。';
			fortune[8] = '晚来天欲雪，能饮一杯无。';
			index = Math.floor(Math.random() * fortune.length);
			document.write(fortune[index]);
		</script>
		<noscript>どうしてこうなるんだろう…</noscript>
	{% endif %}
